*{
    padding: 0;
    margin: 0;
}

body {
    background-color: #909090;
}

img {
    width: 100%;
    margin: 0 auto;
    overflow: auto;
    padding-bottom: 136px;
}

.portrait {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.button-div {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.button {
    color: floralwhite;
    width: 33.33%;
    padding: 17px 0;
    text-align: center;
    float: left;
    background-color: dimgrey;
}

#camera-button {
    background-color: #737373;
}

.color {
    color: floralwhite;
    width: 100%;
    font-size: 1em;
    position: fixed;
    bottom: 69px;
    padding: 25px 0;
    text-align: center;
    background-color: #777777;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}
.color p {
    transition: all .1s ease-in-out;
}
    .color p:active {
        transform: scale(1.3);
    }

.material-icons {
    font-size: 2em !important;
    transition: all .2s ease-in-out;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

    .button:active > .material-icons {
        transform: scale(0.7);
    }