*{
    padding: 0;
    margin: 0;
}

body {
    background-color: #909090;
    color: floralwhite;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #737373;
}
    .title {
        position: absolute;
        width: 70%;
        padding: 15px 10px;
        font-size: 1.13em;
    }
    .donate {
        padding: 9px 4px;
        float: right;
        width: 10%;
        transition: all .3s ease-in-out;
    }
        .donate:active > .material-icons {
            transform: scale(0.7);
        }
img {
    width: 100%;
    margin: 0 auto;
    overflow: auto;
    padding-bottom: 135px;
    padding-top: 50px;
}

.image-url {
    position: fixed;
    bottom: -70px;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 1000;
    transition: all .3s ease-in-out;
    background-color: dimgrey;
}
    .url-input {
        margin: 15px 7px;
        padding: 10px;
        width: 77%;
    }

    .url-confirm {
        float: right;
        padding: 20px 6px;
        background-color: #737373;
    }
    
    .url-confirm:active > .material-icons {
        transform: scale(0.7);
    }

.portrait {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.button-div {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.button {
    width: 33.33%;
    padding: 17px 0;
    text-align: center;
    float: left;
    background-color: dimgrey;
}

#camera-button {
    background-color: #737373;
}

.color {
    width: 100%;
    font-size: 1em;
    position: fixed;
    bottom: 69px;
    padding: 25px 0;
    text-align: center;
    background-color: #777777;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}
.color p {
    transition: all .1s ease-out;
}
    .color p:active {
        transform: scale(1.3);
    }

.material-icons {
    font-size: 2em !important;
    transition: all .2s ease-in-out;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

    .button:active > .material-icons {
        transform: scale(0.7);
    }